<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/style.css" media="screen">
    <title>ENFJ</title>
  </head>
  
  <body style="background-color: #fbeced;">
    <div class="container-lg">
        <div class="row" style="padding-top: 50px;">
            <img src="../static/images/ENFJinfo.png" width="100%">
        </div>
    </div>
    <div class="container" style="padding-top: 50px;">
        <div class="row gy-4 row-cols-md-2" style="align-items: center;">
          <div class="col" style="text-align: center;">
            <img src="../static/images/enfj_1.jpg" class="rounded-circle" width="500" height="500" style="box-shadow:40px 40px 5px #888888;">
          </div>
          <div class="col" >
              <h1 style="font-size: 80px;">ENFJ</h1><br>
              <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">ENFJ, also known as the giver or protagonist personality, is one of the 16 different personality types identified by the Myers-Briggs Type Indicator(MBTI).Some other types are known by the acronyms ESFJ, ENFP, INFP, and INTP.
                <br><br>People with ENFJ personality type are often described as warm, outgoing, loyal, and sensitive.
                <br><br>Of all the personality types, the ENFJ is often perceived as being the strongest "people person." They are capable of forging friendships with all personality types, even with more introverted or reticent individuals.
                <br><br>Because of their ability to sense what others feel and affect how people behave, they do have the ability to influence and even manipulate others. This is balanced by their strong value system and desire to help other people be the best that they can be. ENFJ is the opposite of the ISTP personality type.
                <br><br>Psychologist David Keirsey suggests that approximately 2% to 5% of all people have an ENFJ personality.
              </p>
          </div>
        </div>
    </div><br>

    <div class="container" style="padding-top: 50px; background-color: #f9e79b;"">
        <div class="row gy-4 row-cols-md-2" style="align-items: center; padding-left: 50px;">
          <div class="col" >
              <h1 style="font-size: 50px;">Key ENFJ Characteristics</h1><br>
              <p style="font-size: 20px; font-weight: 100px;">​- ENFJs are strong extroverts and enjoy spending time with other people.
                <br><br>- ENFJs have great people skills and are often described as warm, affectionate, and supportive.
                <br><br>- ENFJs are great at encouraging other people and derive personal satisfaction from helping others.
                <br><br>- ENFJs are often so interested in devoting their time to others that they can neglect their own needs.
                <br><br>- ENFJs also have a tendency to be too hard on themselves, blaming themselves for when things go wrong and not giving themselves enough credit when things go right. Because of this, it is important that people with this personality type regularly set aside some time to attend to their own needs.
                <br><br>- ENFJs are good at bringing consensus among diverse people. For this reason, they can be outstanding leaders and bring enthusiasm to a group that can be motivating and inspirational.
              </p>
          </div>
          <div class="col" style="text-align: center;">
            <img src="../static/images/enfj-2.jpg" class="rounded-circle" width="500" height="500" style="box-shadow:5px 40px 40px #6b6317;">
          </div>
        </div><br>
    </div>

    <div class="container" style="padding-top: 50px;">
        <div class="row gy-4 row-cols-md-2">
            <div class="col" style="padding-left: 50px; padding-right: 50px;"> 
                <h1 style="font-size: 40px;">Personal Relationships</h1><br>
                <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">ENFJ value other people highly and are warm, nurturing, and supportive in personal relationships. At times, they can become very wrapped up in other people's problems.
                    They are altruistic and interested in helping others, which can sometimes come off as a bit overbearing. Despite this, they are usually very well liked and people appreciate their genuine concern and care.
                <br><br>As parents, ENFJ are nurturing and warm, although they can sometimes be accused of being so-called "helicopter parents." They are directly involved in their children's lives, although they can sometimes be quite strict and even rigid at times.
                <br><br>ENFJ need to remember to give their children room to explore and express their individuality, particularly as children age into adolescence.
                <br><br>ENFJ have an outgoing personality and enjoy spending time with other people. Being in social settings helps them feel energized.
                <br><br>In friendships and other relationships, people typically describe people with a protagonist personality as supportive and fun to be around. They are particularly good at relating to others and are known to help bring out the best in the people with whom they spend their time.
                </p>
            </div>
            <div class="col" style="padding-left: 50px; padding-right: 50px;" >
                <h1 style="font-size: 40px;">Career Paths</h1><br>
                <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">ENFJ often do best in careers where they get to help other people and spend a great deal of time interacting with others. Because of their strong communication and organizational skills, ENFJs can make great leaders and managers.
                    <br><br>They are good at organizing activities, helping each group member achieve their potential and resolving interpersonal conflicts. They strive to create harmony in all situations, and always seem to know what to do to ease tensions and minimize disagreements.
                </p>
            </div>
        </div>
    </div>

    <div style="padding-top: 30px; text-align: center;">
        <button onclick="history.back()" class="btn btn-danger btn-lg ">BACK</button>
    </div><br><br>
    
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

  </body>
</html>