<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/style.css" media="screen">
    <title>ENTJ</title>
  </head>
  
  <body style="background-color: #fbeced;">
    <div class="container-lg">
        <div class="row" style="padding-top: 50px;">
            <img src="../static/images/ENTJinfo.png" width="100%">
        </div>
    </div>
    <div class="container" style="padding-top: 50px;">
        <div class="row gy-4 row-cols-md-2" style="align-items: center;">
          <div class="col" style="text-align: center;">
            <img src="../static/images/entj-1.png" class="rounded-circle" width="500" height="500" style="box-shadow:40px 40px 5px #3d4463;">
          </div>
          <div class="col" >
              <h1 style="font-size: 80px;">ENTJ</h1><br>
              <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">The acronym ENTJ represents one of the 16 personality types that are identified by the Myers-Briggs Type Indicator(MBTI). This popular personality assessment was developed by Isabel Myers and her mother Katherine Briggs. The assessment tool is based on Carl Jung's theory of personality types. Other people often describe people with this type of personality as assertive, confident, and outspoken.
                <br><br>According to psychologist David Keirsey, the ENTJ type is quite rare, accounting for a mere 2% of the population.
              </p>
          </div>
        </div>
    </div><br><br><br>

    <div class="container" style="padding-top: 50px; background-color: #f9e79b;"">
        <div class="row gy-4 row-cols-md-2" style="align-items: center; padding-left: 50px;">
          <div class="col" >
              <h1 style="font-size: 50px;">Key ENTJ Characteristics</h1><br>
              <p style="font-size: 20px; font-weight: 100px;">- ​People with this personality type enjoy spending time with other people. They have strong verbal skills and interacting with others helps them feel energized.
                <br><br>- ENTJ types prefer to think about the future rather than focus on the here-and-now. They usually find abstract and theoretical information more interesting than concrete details.
                <br><br>- When making decisions, ENTJs place a greater emphasis on objective and logical information. Personal feelings and the emotions of others tend not to factor much into their choices.
                <br><br>- ENTJ are planners. Making decisions and having a schedule or course of action planned out gives them a sense of predictability and control.They are highly rational, good at spotting problems, and excel at taking charge. These tendencies make them natural leaders who are focused on efficiently solving problems. 
                <br><br>- ENTJ are not necessarily good with emotions, but that does not mean they are intentionally cruel. They are prone to hiding their own emotions and sentimentality, viewing it as a weakness that should not be made known to others.
                </p>
          </div>
          <div class="col" style="text-align: center;">
            <img src="../static/images/entj-2.jpg" class="rounded-circle" width="500" height="500" style="box-shadow:5px 40px 40px #6b6317;">
          </div>
        </div><br>
    </div>

    <div class="container" style="padding-top: 50px;">
        <div class="row gy-4 row-cols-md-2">
            <div class="col" style="padding-left: 50px; padding-right: 50px;"> 
                <h1 style="font-size: 40px;">Personal Relationships</h1><br>
                <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">Since ENTJ are extroverts, they gain energy from socializing (unlike introverts, who expend energy in social situations). They love having passionate and lively conversations and debates. In some cases, other people can feel intimidated by the ENTJs confidence and strong verbal skills. When they have a good idea, people with this personality type feel compelled to share their point of view with others.
                <br><br>Despite their verbal abilities, ENTJ are not always good at understanding other people's emotions. Expressing emotions can be difficult for them at times, and their tendency to get into debates can make them seem aggressive, argumentative, and confrontational. People can overcome this problem by making a conscious effort to think about how other people might be feeling.
                <br><br>They may struggle to understand or get along with more sensitive personality types. While they are extraverts, they are not emotionally expressive and other people may see them as insensitive.
            </p>
            </div>
            <div class="col" style="padding-left: 50px; padding-right: 50px;" >
                <h1 style="font-size: 40px;">Career Paths</h1><br>
                <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">​Thanks to their comfort in the spotlight, ability to communicate, and a tendency to make quick decisions, ENTJ tend to naturally fall into leadership roles.
                    <br><br>These individuals sometimes find themselves taking control of a group without really knowing how they came to be in such a position. Because of their love for structure and order, the ENTJ is also good at supervising and directing others and helping groups complete tasks and achieve goals. They can quickly see what needs to be accomplished, develop a plan of action, and assign roles to group members.
                    <br><br>ENTJ do best in careers where there is a lot of structure, but plenty of room for variety. Jobs that allow them to meet and interact with lots of different people are ideal. People with this type bring a lot of desirable skills to the table, including excellent leadership and communication skills, a hard-working attitude, and an ability to plan for the future.
                </p>
            </div>
        </div>
    </div>

    <div style="padding-top: 30px; text-align: center;">
        <button onclick="history.back()" class="btn btn-danger btn-lg ">BACK</button>
    </div><br><br>
    
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

  </body>
</html>