<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/style.css" media="screen">
    <title>ESFJ</title>
  </head>
  
  <body style="background-color: #fbeced;">
    <div class="container-lg">
        <div class="row" style="padding-top: 50px;">
            <img src="../static/images/ESFJinfo.png" width="100%">
        </div>
    </div>
    <div class="container" style="padding-top: 50px;">
        <div class="row gy-4 row-cols-md-2" style="align-items: center;">
          <div class="col" style="text-align: center;">
            <img src="../static/images/esfj-1.jpg" class="rounded-circle" width="500" height="500" style="box-shadow:40px 40px 5px #63523d;">
          </div>
          <div class="col" >
              <h1 style="font-size: 80px;">ESFJ</h1><br>
              <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">ESFJ, also known as "The Caregiver" or "The Consul," is one of the 16 personality types identified by the Myers-Briggs Type Indicator(MBTI). People with an ESFJ personality type tend to be outgoing, loyal, organized, and tender-hearted. ESFJs gain energy from interacting with other people.
                <br><br>They are typically described as outgoing and gregarious. They have a way of encouraging other people to be their best and often have a hard time believing anything bad about the people they are close to.
                <br><br>According to psychologist David Keirsey, approximately 9% to 13% of the population has an ESFJ personality type.
              </p>
          </div>
        </div>
    </div><br><br><br>

    <div class="container" style="padding-top: 50px; background-color: #ffdbc2;"">
        <div class="row gy-4 row-cols-md-2" style="align-items: center; padding-left: 50px;">
          <div class="col" >
              <h1 style="font-size: 50px;">Key ESFJ Characteristics</h1><br>
              <p style="font-size: 20px; font-weight: 100px;">- Enjoy helping others
                <br><br>- Need approval
                <br><br>- Expect their kind and giving ways to be noticed and appreciated by others.
                <br><br>- Be sensitive to the needs and feelings of others.
                <br><br>- Be good at responding and providing the care that people need.
                <br><br>- Want to be liked by others.
                <br><br>- Get easily hurt by unkindness or indifference.
                <br><br>- Derive their value system from external sources, including the community at large, rather than from intrinsic, ethical, and moral guidelines.
                <br><br>- ESFJ raised with high values and standards tend to grow up to be generous adults. Conversely, those raised in a less enriched environment may have skewed ethics as adults and are more likely to be manipulative and self-centered.
                <br><br>- ESFJ also have a strong desire to exert control over their environment. Organizing, planning, and scheduling help people with this personality type feel in command of the world around them.
                <br><br>- ESFJ are naturally geared toward understanding other people. They are careful observers of others and are adept at supporting and bringing out the best in people. Because they are so good at helping others feel good about themselves, people feel drawn to ESFJs.
                </p>
          </div>
          <div class="col" style="text-align: center;">
            <img src="../static/images/esfj-2.jpg" class="rounded-circle" width="500" height="500" style="box-shadow:5px 40px 40px #c0b873;">
          </div>
        </div><br>
    </div>

    <div class="container" style="padding-top: 50px;">
        <div class="row gy-4 row-cols-md-2">
            <div class="col" style="padding-left: 50px; padding-right: 50px;"> 
                <h1 style="font-size: 40px;">Personal Relationships</h1><br>
                <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">As extroverts, ESFJs love spending time with other people. Not only do they gain energy from social interaction, but they are also genuinely interested in the well-being of others. They are frequently described as warm-hearted and empathetic, and they will often put the needs of others ahead of their own.
                <br><br>They typically feel insecure in situations where things are uncertain or chaotic. While this makes ESFJs well suited to positions that involve managing or supervising people, it can also lead to conflicts when they try to exercise control over people who do not welcome such direction.
            </p>
            </div>
            <div class="col" style="padding-left: 50px; padding-right: 50px;" >
                <h1 style="font-size: 40px;">Career Paths</h1><br>
                <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">Because ESFJs enjoy helping others, they often do well in practical settings that involve taking a caregiver role. Social service and healthcare careers are two areas in which ESFJs may excel at applying their helping nature and desire for order.
                    <br><br>ESFJs have many traits that make them ideally suited to certain careers. For example, their dependability and innate need to take care of others mean that they often do well in jobs that involve supporting and caring for people, such as nursing or teaching.
                </p>
            </div>
        </div>
    </div>

    <div style="padding-top: 30px; text-align: center;">
        <button onclick="history.back()" class="btn btn-danger btn-lg ">BACK</button>
    </div><br><br>
    
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

  </body>
</html>