<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/style.css" media="screen">
    <title>ESTJ</title>
  </head>
  
  <body style="background-color: #fbeced;">
    <div class="container-lg">
        <div class="row" style="padding-top: 50px;">
            <img src="../static/images/ESTJinfo.png" width="100%">
        </div>
    </div>
    <div class="container" style="padding-top: 50px;">
        <div class="row gy-4 row-cols-md-2" style="align-items: center;">
          <div class="col" style="text-align: center;">
            <img src="../static/images/estj-1.jpg" class="rounded-circle" width="500" height="500" style="box-shadow:40px 40px 5px #776e48;">
          </div>
          <div class="col" >
              <h1 style="font-size: 80px;">ESTJ</h1><br>
              <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">ESTJ is one of the 16 personality types identified by the Myers-Briggs Type Indicator(MBTI). ESTJs are often described as logical, take-charge kind of people. They are assertive and are very concerned with making sure that things run smoothly and according to the rules. They are committed to tradition, standards, and laws. They have strong beliefs and possess sensible judgment, and expect that other people uphold these same principles as well.
                <br><br>An estimated 8% to 12% of the U.S. population has an ESTJ personality.David Keirsey, the creator of the Keirsey Temperament Sorter, suggests that the ESTJ personality type is the "Guardian Supervisor," one of four "Guardian" archetypes (Supervisor, Inspector, Provider, Protector).
              </p>
          </div>
        </div>
    </div><br><br><br>

    <div class="container" style="padding-top: 50px; background-color: #f5d654;"">
        <div class="row gy-4 row-cols-md-2" style="align-items: center; padding-left: 50px;">
          <div class="col" >
              <h1 style="font-size: 50px;">Key ESTJ Characteristics</h1><br>
              <p style="font-size: 20px; font-weight: 100px;">- ​Individuals with this personality type tend to place a high value on tradition, rules, and security. Maintaining the status quo is important to ESTJ, and they often become involved in civic duties, government branches, and community organizations.
                <br><br>- Because of their orthodox approach to life, they can sometimes be seen as rigid, stubborn, and unyielding. Their take-charge attitude makes it easy for ESTJ to assume leadership positions.
                <br><br>- Their self-confidence and strong convictions help them excel at putting plans into action, but they can at times appear critical and overly aggressive, particularly when other people fail to live up to their high standards.
                <br><br>- People often describe ESTJ as predictable, stable, committed, and practical. They tend to be very frank and honest when it comes to sharing their opinions, which can sometimes be seen as harsh or overly critical.
                </p>
          </div>
          <div class="col" style="text-align: center;">
            <img src="../static/images/estj-2.jpg" class="rounded-circle" width="500" height="500" style="box-shadow:5px 40px 40px #b4c073;">
          </div>
        </div><br>
    </div>

    <div class="container" style="padding-top: 50px;">
        <div class="row gy-4 row-cols-md-2">
            <div class="col" style="padding-left: 50px; padding-right: 50px;"> 
                <h1 style="font-size: 40px;">Personal Relationships</h1><br>
                <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">As extroverts, ESTJ are very outgoing and enjoy spending time in the company of others. They can be very boisterous and funny in social situations and often enjoy being at the center of attention.
                <br><br>Family is also of the utmost importance to ESTJ. They put a great deal of effort into fulfilling their family obligations. Social events are also important and they are good at remembering important events such as birthdays and anniversaries. They look forward to attending weddings, family reunions, holiday parties, class reunions, and other occasions.
                <br><br>One potential area of weakness for ESTJ is their tendency to be rigid when it comes to rules and routines. They take their own opinion quite seriously, and are often less inclined to listen to what others have to say on a subject.
            </p>
            </div>
            <div class="col" style="padding-left: 50px; padding-right: 50px;" >
                <h1 style="font-size: 40px;">Career Paths</h1><br>
                <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">​Because they appreciate order and organization, they frequently do well in supervisory roles. When in such positions, they are committed to making sure that members of the group follow rules and traditions and law established by higher authoritie.
                    <br><br>In school and work situations, ESTJ are very hard-working and dependable.﻿They strive to follow directions to the letter and show a great deal of respect and deference for authority figures. They are thorough and punctual about completing their work, and rarely question or complain about the work they have to do.
                    <br><br>ESTJ have a wide range of personality characteristics that help them excel at a number of different careers. Their emphasis on rules and procedures make them well-suited to supervisory and management positions, while their respect for laws, authority, and order help them excel in law enforcement roles.
                </p>
            </div>
        </div>
    </div>

    <div style="padding-top: 30px; text-align: center;">
        <button onclick="history.back()" class="btn btn-danger btn-lg ">BACK</button>
    </div><br><br>
    
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

  </body>
</html>