<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/style.css" media="screen">
    <title>ESTP</title>
  </head>
  
  <body style="background-color: #fbeced;">
    <div class="container-lg">
        <div class="row" style="padding-top: 50px;">
            <img src="../static/images/ESTPinfo.png" width="100%">
        </div>
    </div>
    <div class="container" style="padding-top: 50px;">
        <div class="row gy-4 row-cols-md-2" style="align-items: center;">
          <div class="col" style="text-align: center;">
            <img src="../static/images/estp-1.jpg" class="rounded-circle" width="500" height="500" style="box-shadow:40px 40px 5px #487077;">
          </div>
          <div class="col" >
              <h1 style="font-size: 80px;">ESTP</h1><br>
              <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">​​ESTP is one of the 16 personality types identified by the Myers-Briggs Type Indicator(MBTI). People with this personality type are frequently described as outgoing, action-oriented, and dramatic. ESTPs are outgoing and enjoy spending time with a wide circle of friends and acquaintances. They are interested in the here-and-now and are more likely to focus on details than taking a broader view of things."
                <br><br>People with this personality type are logical. When making decisions, they place a higher value on objectivity rather than personal feelings. ESTPs don't like to be pinned down by excessive planning. Instead, they like to improvise and keep their options open.
                According to psychologist David Keirsey, the creator of the Keirsey Temperament Sorter, approximately 4—10% of people exhibit an ESTP personality. It is believed to be one of the most common personality types.
              </p>
          </div>
        </div>
    </div><br><br><br>

    <div class="container" style="padding-top: 50px; background-color: #f9e79b;"">
        <div class="row gy-4 row-cols-md-2" style="align-items: center; padding-left: 50px;">
          <div class="col" >
              <h1 style="font-size: 50px;">Key ESTP Characteristics</h1><br>
              <p style="font-size: 20px; font-weight: 100px;">- Make decisions quickly: When confronted by problems, people with this personality type quickly look at the facts and devise an immediate solution. They tend to improvise rather than spend a great deal of time planning.
                <br><br>- Prefer the practical over the abstract: ESTPs don't have a lot of use for abstract theories or concepts. They are more practical, preferring straightforward information that they can think about rationally and act upon immediately.
                <br><br>- Have strong social skills: They are very observant, often picking up on details that other people never notice. Other people sometimes describe them as "fast-talkers" who are highly persuasive. In social settings, they often seem like they are a few steps ahead of the conversation.
                <br><br>- Act impulsively at times: ESTP are not planners. They react in the moment and can often be quite impulsive or even risk-taking. This 'leap before they look' attitude can be problematic at times and it may lead them to say or do things they regret.
                </p>
          </div>
          <div class="col" style="text-align: center;">
            <img src="../static/images/estp-2.jpg" class="rounded-circle" width="500" height="500" style="box-shadow:5px 40px 40px #b4c073;">
          </div>
        </div><br>
    </div>

    <div class="container" style="padding-top: 50px;">
        <div class="row gy-4 row-cols-md-2">
            <div class="col" style="padding-left: 50px; padding-right: 50px;"> 
                <h1 style="font-size: 40px;">Personal Relationships</h1><br>
                <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">As extroverts, ESTP gain energy from being around other people. In social settings, people with this personality type are seen as fun, friendly, and charming.
                <br><br>Strong people skills: According to Keirsey, people with this personality type are particularly skilled at influencing people. ESTP are not only great at interacting with other people, but they also have a natural ability to perceive and interpret nonverbal communication.
                <br><br>Difficulty with commitment: While they are great with people, ESTP prefer to live in the moment, which can sometimes make it hard for them to commit to a relationship. Because they are so focused on the present, it can be difficult to think about their long-term plans.
                <br><br>Can seem insensitive: ESPT sometimes have a hard time tuning in to what others are thinking or feeling. As a result, they can sometimes say things that might be perceived as insensitive and may need to put in extra effort to pay attention to their friends and partners.
            </p>
            </div>
            <div class="col" style="padding-left: 50px; padding-right: 50px;" >
                <h1 style="font-size: 40px;">Career Paths</h1><br>
                <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">The MBTI also suggests that certain personality types may exhibit preferences and strengths that align them with certain careers.3﻿ People with an ESTP personality type feel energized when they interact with a wide variety of people, so they do best in jobs that involve working with others. They strongly dislike routine and monotony, so fast-paced jobs are ideal.
                    <br><br>ESTP have several different personality characteristics that make them well-suited for certain careers. Because of their strong people skills, ESTP tend to do very well in careers that involve sales and marketing.
                    <br><br>Because they are action-oriented and resourceful, they are great in first-responder positions that require fast-thinking and quick responses, such as emergency medical personnel and police officers.
                </p>
            </div>
        </div>
    </div>

    <div style="padding-top: 30px; text-align: center;">
        <button onclick="history.back()" class="btn btn-danger btn-lg ">BACK</button>
    </div><br><br>
    
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

  </body>
</html>