<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/style.css" media="screen">
    <title>INFJ</title>
  </head>
  
  <body style="background-color: #fbeced;">
    <div class="container-lg">
        <div class="row" style="padding-top: 50px;">
            <img src="../static/images/INFJinfo.png" width="100%">
        </div>
    </div>
    <div class="container" style="padding-top: 50px;">
        <div class="row gy-4 row-cols-md-2" style="align-items: center;">
          <div class="col" style="text-align: center;">
            <img src="../static/images/infj-1.jpg" class="rounded-circle" width="500" height="500" style="box-shadow:40px 40px 5px #8a696d;">
          </div>
          <div class="col" >
              <h1 style="font-size: 80px;">INFJ</h1><br>
              <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">​​​​INFJ is one of the 16 personality types identified by the Myers-Briggs Type Indicator(MBTI). Scoring as an INFJ means your personality type is best described as Introverted, Intuitive, Feeling, and Judging.
                <br><br>Sometimes referred to as the "Advocate" or the "Idealist," people with this personality type often feel misunderstood. Perhaps it's because they're the rarest MBTI personality type, making up only 1% to 3% of the U.S. population.
                <br><br>Or maybe it's because they're walking, talking contradictions. They're easy-going perfectionists. Both logical and emotional, creative and analytical.Learn more about the INFJ personality type below.
              </p>
          </div>
        </div>
    </div><br><br><br>

    <div class="container" style="padding-top: 50px; background-color: #f5e2d3;"">
        <div class="row gy-4 row-cols-md-2" style="align-items: center; padding-left: 50px;">
          <div class="col" >
              <h1 style="font-size: 50px;">Key INFJ Characteristics</h1><br>
              <p style="font-size: 20px; font-weight: 100px;">- ​Compassionate: With their strong sense of intuition and emotional understanding, INFJs can be soft-spoken and empathetic. This does not mean that they are pushovers, however. They have deeply held beliefs and an ability to act decisively to get what they want.
                <br><br>- Helper: While they are introverted by nature, people with this personality type can form strong, meaningful connections with other people. They enjoy helping others, but they also need time and space to recharge.
                <br><br>- Idealist: What sets the INFJ apart is their ability to translate their idealism into action. They don't just dream about changing the world—they make it happen.
                <br><br>- Organized: People with this personality type like to exert control by planning, organizing, and making decisions as early as possible.
                <br><br>- Both emotional and logical: When making decisions, INFJ place a greater emphasis on their emotions than objective facts. But this doesn't mean they see the world through rose-colored glasses. INFJs understand the world, both the good and the bad, and hope to be able to make it better.
                </p>
          </div>
          <div class="col" style="text-align: center;">
            <img src="../static/images/infj-2.jpg" class="rounded-circle" width="500" height="500" style="box-shadow:5px 40px 40px #c0ae73;">
          </div>
        </div><br>
    </div>

    <div class="container" style="padding-top: 50px;">
        <div class="row gy-4 row-cols-md-2">
            <div class="col" style="padding-left: 50px; padding-right: 50px;"> 
                <h1 style="font-size: 40px;">Personal Relationships</h1><br>
                <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">​INFJ also have a talent for language and are usually quite good at expressing themselves. They have a vivid inner life, but they are often hesitant to share this with others except for perhaps those closest to them. While they are quiet and sensitive, they can also be good leader. Even when they don't take on overt leadership roles, they often act as quiet influencers behind the scenes.
                <br><br>INFJ are driven by their strong values and seek out meaning in all areas of their lives including relationships and work. People with this type of personality are often described as deep and complex. They may not have a huge circle of acquaintances, but their close friendships tend to be very close and long-lasting.
                <br><br>INFJ are interested in helping others and making the world a better place. They tend to be excellent listeners and are good at interacting with people which whom they are emotionally close and connected. While they care deeply about others, INFJs tend to be very introverted and are only willing to share their "true selves" with a select few. After being in social situations, INFJ need time to themselves to "recharge."
            </p>
            </div>
            <div class="col" style="padding-left: 50px; padding-right: 50px;" >
                <h1 style="font-size: 40px;">Career Paths</h1><br>
                <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">​​INFJ do well in careers where they can express their creativity. Because people with INFJ personalities have such deeply held convictions and values, they do particularly well in jobs that support these principles. INFJ often do best in careers that mix their need for creativity with their desire to make meaningful changes in the world.
                    <br><br>INFJs are usually high achievers and excel in academics and the workplace. They can be perfectionists at times and tend to put a great deal of effort into their work. Co-workers tend to feel that INFJs are hardworking, positive, and easy to get along with. Because they are introverted, however, they may find that they need to retreat at times to recharge.
                    <br><br>In managerial roles, INFJ can sometimes struggle to exert authority. They tend to lead with sensitivity and are good at helping subordinates feel appreciated in the workplace. Jobs that require a great deal of routine or adherence to strict rules can be difficult for INFJ.
                </p>
            </div>
        </div>
    </div>

    <div style="padding-top: 30px; text-align: center;">
        <button onclick="history.back()" class="btn btn-danger btn-lg ">BACK</button>
    </div><br><br>
    
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

  </body>
</html>