<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/style.css" media="screen">
    <title>INFP</title>
  </head>
  
  <body style="background-color: #fbeced;">
    <div class="container-lg">
        <div class="row" style="padding-top: 50px;">
            <img src="../static/images/INFPinfo.png" width="100%">
        </div>
    </div>
    <div class="container" style="padding-top: 50px;">
        <div class="row gy-4 row-cols-md-2" style="align-items: center;">
          <div class="col" style="text-align: center;">
            <img src="../static/images/infp-1.jpg" class="rounded-circle" width="500" height="500" style="box-shadow:40px 40px 5px #8a8069;">
          </div>
          <div class="col" >
              <h1 style="font-size: 80px;">INFP</h1><br>
              <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">​​​​INFP (introversion, intuition, feeling, perception) is a four-letter abbreviation for one of the 16 personality types identified by the Myers-Briggs Type Indicator(MBTI). The INFP personality type is often described as an "idealist" or "mediator" personality. People with this kind of personality tend to be introverted, idealistic, creative, and driven by high values.
                <br><br>INFPs also have strong interests in making the world a better place. In addition to wanting to gain a greater understanding of themselves and how they fit into the world, they are also interested in how they can best help others. People with this personality type spend a lot of time exploring their own purpose in life and thinking about how they can use their skills and talents to best serve humanity.
              </p>
          </div>
        </div>
    </div><br><br><br>

    <div class="container" style="padding-top: 50px; background-color: #d3f5f2;"">
        <div class="row gy-4 row-cols-md-2" style="align-items: center; padding-left: 50px;">
          <div class="col" >
              <h1 style="font-size: 50px;">Key INFP Characteristics</h1><br>
              <p style="font-size: 20px; font-weight: 100px;"> ​- INFP tend to be introverted, quiet, and reserved. Being in social situations tends to drain their energy, and they prefer interacting with a select group of close friends. While they like to be alone, this should not necessarily be confused with shyness. Instead, it simply means that INFPs gain energy from spending time alone. On the other hand, they have to expend energy in social situations.
                <br><br>- INFP typically rely on intuition and are more focused on the big picture rather than the nitty-gritty details. They can be quite meticulous about things they really care about or projects they are working on but tend to ignore mundane or boring details.
                <br><br>- INFP place an emphasis on personal feelings, and their decisions are more influenced by these concerns rather than by objective information.
                <br><br> - When it comes to making decisions, INFPs like to keep their options open. They often delay making important decisions just in case something about the situation changes. When decisions are made, they are usually based on personal values rather than logic.
                </p>
          </div>
          <div class="col" style="text-align: center;">
            <img src="../static/images/infp-2.jpg" class="rounded-circle" width="500" height="500" style="box-shadow:5px 40px 40px #73c0a0;">
          </div>
        </div><br>
    </div>

    <div class="container" style="padding-top: 50px;">
        <div class="row gy-4 row-cols-md-2">
            <div class="col" style="padding-left: 50px; padding-right: 50px;"> 
                <h1 style="font-size: 40px;">Personal Relationships</h1><br>
                <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">​INFP are idealists so they tend to have high expectations—including in relationships. They might hold an idealized image in their minds of their perfect partner, which can be a difficult role for any individual to fill.
                <br><br>People with this personality type care deeply about other people, yet as introverts they can be difficult to know. They do tend to become very close and deeply committed to the few that they forge close relationships with.
                <br><br>They also dislike conflict and try to avoid it. When conflicts or arguments do arise, they usually focus more on how the conflict makes them feel rather than the actual details of the argument. During arguments, they might seem overly emotional or even irrational. However, they can also be good mediators by helping the people involved in a conflict identify and express their feelings.
                <br><br>Because they are so reserved and private, it can be difficult for other people to get to know INFPs. They tend to be quite devoted to their circle of close friends and family and place a high importance on the feelings and emotions of their loved ones. Much of their energy is focused inwardly and characterized by intense feelings and strong values. They tend to be very loyal to the people they love and to beliefs and causes that are important to them.
            </p>
            </div>
            <div class="col" style="padding-left: 50px; padding-right: 50px;" >
                <h1 style="font-size: 40px;">Career Paths</h1><br>
                <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">INFPs typically do well in careers where they can express their creativity and vision. While they work well with others, they generally prefer to work alone. 
                    <br><br>INFPs tend to be very creative, artistic, and spiritual. They are often skilled with language but may prefer to express their thoughts and feelings through writing rather than speaking.
                    <br><br>Because they have strong ethics and values, they also become passionate about advocating or defending their beliefs. While they feel strongly about their own values, INFPs are also interested in learning more about others and are willing to listen and consider many sides of an issue.
                </p>
            </div>
        </div>
    </div>

    <div style="padding-top: 30px; text-align: center;">
        <button onclick="history.back()" class="btn btn-danger btn-lg ">BACK</button>
    </div><br><br>
    
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

  </body>
</html>