<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/style.css" media="screen">
    <title>ISFJ</title>
  </head>
  
  <body style="background-color: #fbeced;">
    <div class="container-lg">
        <div class="row" style="padding-top: 50px;">
            <img src="../static/images/ISFJinfo.png" width="100%">
        </div>
    </div>
    <div class="container" style="padding-top: 50px;">
        <div class="row gy-4 row-cols-md-2" style="align-items: center;">
          <div class="col" style="text-align: center;">
            <img src="../static/images/isfj-1.jpg" class="rounded-circle" width="500" height="500" style="box-shadow:40px 40px 5px #555555;">
          </div>
          <div class="col" >
              <h1 style="font-size: 80px;">ISFJ</h1><br>
              <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">​​​ ​ISFJ is one of the 16 personality types identified on the Myers-Briggs Type Indicator(MBTI), the personality test developed by Isabel Myers and her mother Katherine Briggs based on the theories of psychoanalyst Carl Jung. ISFJ stands for introverts, sensing, feeling, judging.
                <br><br>This personality type is given the nickname "The Protector" or "The Defender," and for good reason.People who have ISFJ personalities are known for being warm-hearted, responsible, and reserved. The ENTP personality type is the opposite.
                <br><br>This personality type is one of the more common ones. They make up about 9% to 14% of the population.
              </p>
          </div>
        </div>
    </div><br><br><br>

    <div class="container" style="padding-top: 50px; background-color: #eafdfc;"">
        <div class="row gy-4 row-cols-md-2" style="align-items: center; padding-left: 50px;">
          <div class="col" >
              <h1 style="font-size: 50px;">Key ISFJ Characteristics</h1><br>
              <p style="font-size: 20px; font-weight: 100px;">They Are Observant: While people with this personality type are introverted and tend to be quiet, they are keen observers and are focused on other people. Because they are so perceptive, ISFJs are good at remembering details about other people.
                <br><br>They Tend to Repress Their Emotions: Those with this personality type are particularly well-tuned into the emotions and feelings of others. While ISFJs are good at understanding their own emotions, they often struggle to express them. Rather than share their feelings, they may bottle them up, sometimes to the point that negative feelings toward other people can result. When dealing with life struggles, such as illness or the death of a loved one, they may keep quiet about what they are experiencing to avoid burdening others with their troubles.
                <br><br>They Are Practical: People with this personality prefer concrete facts over abstract theories. As a result, they tend to learn best by doing. They thrive in This also means that they usually value learning for its practical applications. They also tend to become more interested in new things when they can see and appreciate how it might solve a real-world problem.
                <br><br>They Are Creatures of Habit: ISFJ enjoy structure and strive to maintain this order in all areas of their lives. They thrive in highly structured and consistent environments where they are given step-by-step instructions and clear expectations. Their preference to keep things the way they are rather than change. But this does not mean ISFJs aren't adaptable. They simply prefer to have time to think about and prepare for big changes.
          </div>
          <div class="col" style="text-align: center;">
            <img src="../static/images/isfj-2.jpg" class="rounded-circle" width="450" height="450" style="box-shadow:5px 40px 40px #73bdc0;">
          </div>
        </div><br>
    </div>

    <div class="container" style="padding-top: 50px;">
        <div class="row gy-4 row-cols-md-2">
            <div class="col" style="padding-left: 50px; padding-right: 50px;"> 
                <h1 style="font-size: 40px;">Personal Relationships</h1><br>
                <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">B​ecause they are quiet, people sometimes misinterpret this as standoffish behavior. However, ISFJ are compassionate and caring toward others, often working to secure the safety and well-being of other people without asking for thanks or anything in return.
                <br><br>ISFJ are often described as kind, reliable, and trustworthy.
                <br><br>Because they are hard-working, dependable, and rarely seek accolades for their own accomplishments, ISFJs are sometimes taken for granted by those around them. In some cases, people might even try to take advantage of this reliability.
                <br><br>ISFJ tend to have a small group of very close friends. While they may be quiet and reserved around people they don’t know well, they are more likely to "let loose" when they are around these close confidants. They place a high value on these close friendships and are always willing to support and care for the people to whom they are close.
            </p>
            </div>
            <div class="col" style="padding-left: 50px; padding-right: 50px;" >
                <h1 style="font-size: 40px;">Career Paths</h1><br>
                <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">​ISFJ have many characteristics that make them well-suited to particular careers. Because they are so attuned to the feelings of others, jobs in mental health or the healthcare industry are a good fit.
                    <br><br>They are also meticulous and orderly, making them suited to jobs that involve planning, structure, or attention to detail. Their commitment to their work, reliability, and ability to work independently make them attractive to a wide variety of employers.
                    <br><br>Because of their solid people skills and desire to create order, they often do well in management or administrative roles. They excel at coming up with plans and helping other people work together to achieve a common goal.
                </p>
            </div>
        </div>
    </div>

    <div style="padding-top: 30px; text-align: center;">
        <button onclick="history.back()" class="btn btn-danger btn-lg ">BACK</button>
    </div><br><br>
    
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

  </body>
</html>