<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/style.css" media="screen">
    <title>ISFP</title>
  </head>
  
  <body style="background-color: #fbeced;">
    <div class="container-lg">
        <div class="row" style="padding-top: 50px;">
            <img src="../static/images/ISFPinfo.png" width="100%">
        </div>
    </div>
    <div class="container" style="padding-top: 50px;">
        <div class="row gy-4 row-cols-md-2" style="align-items: center;">
          <div class="col" style="text-align: center;">
            <img src="../static/images/isfp-1.jpg" class="rounded-circle" width="450" height="450" style="box-shadow:40px 40px 5px #555555;">
          </div>
          <div class="col" >
              <h1 style="font-size: 80px;">ISFP</h1><br>
              <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">​​​ ​ISFP is a four-letter code representing one of the 16 personality types identified by the Myers-Briggs Type Indicator(MBTI). People with an ISFP personality are frequently described as quiet, easy-going and peaceful.
              </p>
          </div>
        </div>
    </div><br><br><br>

    <div class="container" style="padding-top: 50px; background-color: #f0f9e7;"">
        <div class="row gy-4 row-cols-md-2" style="align-items: center; padding-left: 50px;">
          <div class="col" >
              <h1 style="font-size: 50px;">Key ISFP Characteristics</h1><br>
              <p style="font-size: 20px; font-weight: 100px;">- ​ISFP like to keep their options open, so they often delay making decisions in order to see if things might change or if new options come up.
                <br><br>- According to Myers-Briggs, ISFP are kind, friendly, sensitive and quiet. Unlike extroverts who gain energy from interacting with other people, introverts must expend energy around others. After spending time with people, introverts often find that they need a period of time alone. Because of this, they typically prefer to intermingle with a small group of close friends and family members.
                <br><br>- While they are quiet and reserved, they are also known for being peaceful, caring, and considerate. ISFPs have an easy-going attitude and tend to accept other people as they are.
                <br><br>- ISFP like to focus on the details. They spend more time thinking about the here and now rather than worrying about the future.
                <br><br>- ISFP tend to be "doers" rather than "dreamers." They dislike abstract theories unless they can see some type of practical application for them and prefer learning situations that involve gaining hands-on experience.
          </div>
          <div class="col" style="text-align: center;">
            <img src="../static/images/isfp-2.jpg" class="rounded-circle" width="450" height="450" style="box-shadow:5px 40px 40px #c0a173;">
          </div>
        </div><br>
    </div>

    <div class="container" style="padding-top: 50px;">
        <div class="row gy-4 row-cols-md-2">
            <div class="col" style="padding-left: 50px; padding-right: 50px;"> 
                <h1 style="font-size: 40px;">Personal Relationships</h1><br>
                <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">​​ISFP are introverted. They tend to be reserved and quiet, especially around people they do not know well. They prefer spending time with a close group of family and friends.ISFPs are very private and keep their true feelings to themselves. In some cases, they may avoid sharing their thoughts, feelings and opinions with other people in their life, even their romantic partners. Because they prefer not to share their innermost feelings and try to avoid conflict, they often defer to the needs or demands of others.
                <br><br>ISFPs have strong values but are not concerned with trying to convince other people to share their point of view. They care deeply about other people, particularly their closest friends and family. They are action-oriented and tend to show their care and concern through action rather than discussing feelings or expressing sentiments.
            </p>
            </div>
            <div class="col" style="padding-left: 50px; padding-right: 50px;" >
                <h1 style="font-size: 40px;">Career Paths</h1><br>
                <p style="font-size: 20px; font-weight: 100px; text-indent: 2.5em;">People with ISFP personalities love animals and have a strong appreciation for nature. They may seek out jobs or hobbies that put them in contact with the outdoors and with animals.
                    <br><br>Because ISFP prefer to focus on the present, they often do well in careers that are concerned with practical, real-world problems. Jobs that offer a great deal of personal freedom and autonomy are especially appealing to ISFP.
                </p>
            </div>
        </div>
    </div>

    <div style="padding-top: 30px; text-align: center;">
        <button onclick="history.back()" class="btn btn-danger btn-lg ">BACK</button>
    </div><br><br>
    
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

  </body>
</html>